<a href="https://colab.research.google.com/github/haneefkhan788412-cell/python-work/blob/main/day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a program to print factors of a given number
# Write a program to print count of factors of a given number
# Write a program to check given number is prime or not
# Write a program to check given number is perfect number or not
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not

In [ ]:
#1
#10--> 1 2 5
#50-->1 2 5 10 25
# 10  --> 1 2 5
# 50  --> 1 2 5 10 25
num=int(input("Enter your number to print factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        print(i,end=" ")

Enter your number to print factors :99
1 3 9 11 33

In [ ]:
# Write a program to print count of factors of a given number
# 10
  #  1 2 5

# 50  -- 5
count=0
num=int(input("Enter your number to print count of factors :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

print("number of factors: ",count)

Enter your number to print count of factors :10
number of factors:  3

In [ ]:
# Write a program to check given number is prime or not
# 2 3 5 7 11 13 17 19 ....
count=0
num=int(input("Enter your number to check it is prime or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        count=count+1

if count==1:
    print(num," is a prime number")
else:
    print(num," is not a prime number")

Enter your number to check it is prime or not :7
7  is a prime number

In [ ]:
# Write a program to check given number is perfect number or not
# 6      :  1+2+3  ==6
# 28     : 1+2+4+7+14===28
# 10     : 1+2+5  ===> 8

sum=0
num=int(input("Enter your number to check it is perfect number or not :"))
for i in range(1, (num//2)+1):
    if num%i==0:
        sum=sum+i

if sum==num:
    print(num," is perfect number")
else:
    print(num," is not a perfect number")

Enter your number to check it is perfect number or not :764
764  is not a perfect number

In [ ]:
for i in range(0,5):
    for j in range(0,5):
        print("Hi", end="")

HiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHi

In [ ]:
for i in range(0,5):
    for j in range(0,i+1):
        print(i, end=" ")
    print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
for row in range(0,6):
    for col in range(0,7):
        if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col==8):
            print(" M",end=" ")
        else:
            print(" ", end="  ")
    print(" ")

    M  M     M  M
 M        M        M
 M                 M
    M           M
       M     M
          M

In [ ]:
# While loop:
# Write a program to find number of digits in a given number
# Write a program to display the number in reverse order
# Write a program to check given number is palindrom number or not

In [16]:
# Write a program to find number of digits in a given number
 #input: 5235
 #op: 4

num=6574
count=0
while num!=0:           # 0 !=0
    num=num//10         # 6//10  --> 0
    count=count+1        # 4
print("Number of digits : ",count)

Number of digits :  4

In [17]:
# Write a program to display the number in reverse order
# input: 6324  ---
# output: 4236

num=6324
rev=0
while num!=0:            # 6!=0
    rem=num%10               # 6%10   =6
    rev=rev*10+rem       #4236
    num=num//10              # 6//10  6
print("reverse number: ",rev)

reverse number:  4236

In [19]:
 x=56,'hyderabad',True,9.76
type(x)

tuple

In [37]:
age = (20,19,15)
for i in age:
  if i>=18:
    print("Eligible:",i)
else:
    print('Not Eligible:',i)

Eligible: 20
Eligible: 19
Not Eligible: 15

In [55]:
salary=[12,14,45,65,78,45]
salary.append(306)
print(salary)

[12, 14, 45, 65, 78, 45, 306]

In [41]:
salary=[12,14,45,65,78,45]
salary.insert(2,36)
print(salary)

[12, 14, 36, 45, 65, 78, 45]

In [44]:
salary=[12,14,45,65,78,45]
salary.remove(45)
print(salary)

[12, 14, 65, 78, 45]

In [48]:
salary=[12,14,45,65,78,45]
salary.pop(2)
print(salary)

[12, 14, 65, 78, 45]