<a href="https://colab.research.google.com/github/haneefkhan788412-cell/python-work/blob/main/day_2_ipynb_h.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#accept marks from student and display
#excellent--if score is

In [ ]:
#accept empolyee basic salary and find gross salary ?
basic=int(input("enter your basic salary to find gross salary "))
if basic<=10000:
  hra=(basic/100)*70
  da=(basic/100)*56
elif basic<=20000:
  hra=(basic/100)*73
  da=(basic)*60
else:
  hra=(basic)*80
  da=(basic)*65

gs=basic+hra+da
print("hra:",hra)
print("da: ",da)
print("gross salary : ",gs)

enter your basic salary to find gross salary 100000
hra: 8000000
da:  6500000
gross salary :  14600000

In [ ]:
username=input("enter username:")
password=input("enter password:")
if username=="admin":
  if password=="1234":
    print("valid user")
  else:
    print("invalid password")
else:
  print("invalid username")

enter username:admin
enter password:1234
valid user

In [ ]:
# sbi atm :500,200,100
   10000-->
   7800-->15-500-->7500+1-200+1-100
   400-->2-200
   1000--500-2
accept withdraw amount and print number of notes sample input;7800
expected output :
    500---15
    200---1
    100---1

In [ ]:


amount=int(input("enter withdrw amount:"))
five
two
One
if amount%100==0:
if amount>=500:
    five =amount//500:
    amount=amount-(five*500)
    print("500------",five)
if amount>=200:
  two=amount//200:
  amount=amount-(two*200)
  print ("200------",two)
if amount>=100:
  one=amount//100:
  amount=amount-(one*100)
  print ("100------",one)
else:
  print("please enter multiples of 100 only ")

IndentationError: expected an indented block after 'if' statement on line 5 (ipython-input-2811381958.py, line 6)